
body {
    margin: 0;
    padding: 0;
}

#section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 10em;
    margin-left: 5em;
    margin-right: 3em;
    /* flex-basis: calc(50% - 20px); */
    border: 1px solid #eee;
    border-radius: 10px;
    padding: 20px;
    /* margin: 10px 0; */
    background-color: #fff;
    position: relative;
&::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    border-top: 15px solid #007bff;
    border-right: 15px solid transparent;
    border-bottom: none;
    border-left: none;
  }

  figure {
    max-width: 250px;
    height: auto;
    border: 1px solid #eee;
    border-radius: 10px;
    
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
}
input {
    height: 40px;
}

main {
    display: flex;
    flex-direction: row;
   
}
h3 {
    color: blue;
}
/* #section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 10em;
    margin-left: 5em;
    margin-right: 3em;
} */

.volume-down {

    margin: 5px;
    padding: 10px;
}
.volume-up {

    margin: 5px;
    padding: 10px;
}

.volume-down:hover, .volume-up:hover{

    background-color: blue;
}

figure {
    border: 2px solid gray;
    margin-bottom: 10px;
    padding: 5px;
    box-shadow: 1px 2px 5px black;
    flex-basis: 23%; 
    cursor: pointer;

}
figure:hover{
    filter: blur(4px);
}
.prev-track:hover{   -webkit-transform:scale(1.25); /* Safari and Chrome */
    -moz-transform:scale(1.25); /* Firefox */
    -ms-transform:scale(1.25); /* IE 9 */
    -o-transform:scale(1.25); 
     transform:scale(1.25);
}
.next-track:hover{   -webkit-transform:scale(1.25); /* Safari and Chrome */
    -moz-transform:scale(1.25); /* Firefox */
    -ms-transform:scale(1.25); /* IE 9 */
    -o-transform:scale(1.25); /* Opera */
     transform:scale(1.25);
}
h3:hover{   -webkit-transform:scale(1.25); 
    -moz-transform:scale(1.25); 
    -ms-transform:scale(1.25); 
    -o-transform:scale(1.25); 
     transform:scale(1.25);
}
img {
    width: 100%;
}


aside {
    display: flex;
    flex-wrap: wrap;
    margin-top: 10em;
    margin-left: 20px;
}
nav li:hover {
    background-color: #888;
}

nav li {
    list-style-type: none;
    text-align: left;
    border: 1px solid gray;
    padding: 5px;
    width: 120px;
    color: blue;
}
.search-bar:hover {-webkit-transform:scale(1.25); /* Safari and Chrome */
    -moz-transform:scale(1.25); /* Firefox */
    -ms-transform:scale(1.25); /* IE 9 */
    -o-transform:scale(1.25); 
     transform:scale(1.25);
}


#header {
    display: flex;
    justify-content: space-between;
    height: 100px;
    margin-top: 30px;
    margin: 25px;
    
}

.buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 2em;
}

.playpause-track:hover {
    color: #DDD;
}

.slider_container_duration {
    gap: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 3px solid #888;
    border-radius: 5%;
    padding: 5px;
   
}

.slider_container {
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
}


.seek_slider,
.volume_slider {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    height: 5px;
    background: black;
    opacity: 0.7;
    transition: opacity 0.2s;
}

.seek_slider::-webkit-slider-thumb,
.volume_slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
   
    height: 15px;
    background: white;
    cursor: pointer;
    border-radius: 0;  
    width: 2em;
    padding: 0.25em;                                             
    border: 1px solid #888;
    border-radius: 50%;
    box-shadow: 0 0 .5em #FFF inset;
    background: linear-gradient(#888, #FFF) content-box,          
                linear-gradient(-90deg, #888, #DDD) border-box; 
}

.seek_slider:hover,
.volume_slider:hover {
    opacity: 1.0;
}
.title {

    color: blue;
}

@media (max-width: 875px) {
    main {
        display: flex;
        flex-direction: row; 
    }
    .search-bar {
        margin-top: 2em;
        padding: 10px;
        height: auto;
    }
  
    .seek_slider {
        width: 80%;
    }
    .slider_container_duration {
        margin-top: 1em;
    }
    .buttons {
        width: auto;
        align-items: center;
        margin-left: 2em;
        margin-top: 5px;
        
    }
 
    figure {
        flex-basis: 30%; 
    }
    #header {
        flex-direction: row; 
        align-items: center;
        margin-top: 10px;
        justify-content: space-between; 
    }
 
    
}

@media (max-width: 768px) {
    main {
        display: flex;
        /* flex-direction: row;  */
        
    }
    /* #header{
        display: flex;
        justify-content: space-between;
        
    } */
     
  
    .seek_slider {
    margin-left: 2px;
    }
 
    figure {
        flex-basis: 48%; 
        
    }
    /* #header {
        flex-direction: column;
        width: 100%;
        margin-bottom: 5em;
        justify-content: space-between; 
       fle
       
    } */
    .buttons {
        width: 100%;
    }


     .slider_container_duration {
        flex-grow: 1; 
    
    }
    .search-bar {
        flex-grow: 1;
    } 
 
    
}
/* Mobile View media queries  */

@media (max-width: 510px) {
    main {
        flex-direction: column;
    }
   .search-bar{
   
    width: 75%;
    margin-bottom: 20px;
    height: auto;
    z-index: 1;

   }
    aside nav {
      width: 100%;
      margin-top:5em;
      margin-bottom: 5em;
      padding: 0;
    }
    .seek_slider {

        width: 80%;

        
    }
    .buttons {
        width: auto;
        align-items: center;
        margin-left: 2em;
        
    }
    .slider_container_duration {
         margin-top: 1em;
         margin-bottom: 2em;
    }
    #section {
        margin-top: 2em;
        margin-left: 1em;
        margin-right: 1em;
        
    }

    figure {
        flex-basis: 48%; 
    }
 
    #header {
        flex-direction: column;
        align-items: center;
        margin-bottom: 2em;
    }
   nav{
    height: 100px;
    margin-top: 10px;
    padding: 0;

   }
    nav li {
        width: 100%;
        text-align: center;
        margin-bottom: 5px;
        margin-top: 10px;
       
    }
}
